<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <%= image_tag "home/under.png" ,:class=>"img-responsive inline" %>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><%= image_tag "home/profile1.png" %></a>
                            </div>
                            <div class="media-body">
                                <blockquote>He&#39;s a hard working dude and I appreciate that a lot.  I like two things in particular about him. He strikes a wonderful balance of understanding and action.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><%= image_tag 'home/profile2.png' %></a>
                            </div>
                            <div class="media-body">
                                <blockquote>First, I love how thoughtful he is.Secondly, I love love love love how solid his code is.</blockquote>
                                <h3><a href="">- Abraham Josef</a></h3>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:abhilashmv@outlook.com.com">abhilashmv@outlook.com"</a> <br> 
                        Phone: +91-7411117841 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        HSR Layout <br> 
                        Bengaluru,KA <br>  
                        INDIA <br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; @AbhiOnlyOne 2016. All Rights Reserved.</p>
                        <p>Designed by Abhi</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>