<section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>This is Abhi, A Creative Nerd</h1>
                        <p>I'm an Indian , Doing ruby on rails outsourcing apps. I work with international startups. I develop your app from scratch, help you launch, maintain, iterate in a lean manner. And if you have the appetite for the huge indian market,  I  can help you localize and launch in india. This app is an example of my work.</p>
                        <a href="#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <%= image_tag "home/slider/hill.png", :class=>"slider-hill" ,:alt=>"slider image" %>
                    <%= image_tag "home/slider/house.png", :class=>"slider-house" ,:alt=>"slider image" %>
                    <%= image_tag "home/slider/sun.png", :class=>"slider-sun" ,:alt=>"slider image" %>
                    <%= image_tag "home/slider/birds1.png", :class=>"slider-birds1" ,:alt=>"slider image" %>
                    <%= image_tag "home/slider/birds2.png", :class=>"slider-birds2" ,:alt=>"slider image" %>
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <%= image_tag "home/icon1.png" %>
                        </div>
                        <h2>EXPERIENCE</h2>
                        <p>With me, you are not buying only a developer skillset. What you get from me is a combination of experience and skills having been working on many RoR projects. I have worked on complex projects, huge datasets, high availability demanded apps.

</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <%= image_tag "home/icon2.png" %>
                        </div>
                        <h2>RELIABILITY</h2>
                        <p>You get the most reliability. I know what works and what doesn't, and my operating guidelines will ensure your project continuity, even under some unfortunate circumstances. You know exactly when I will work, what I worked on day to day basis. You can also feel safe with your Intellectual Property.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <%= image_tag "home/icon3.png" %>
                        </div>
                        <h2>FAST</h2>
                        <p>I know you need to iterate quickly. I will help you succeed for both your investors and customers. I can work long hours and weekends to make it happen.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag "home/image1.png" ,:class=>"img-responsive" %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>I'm devoted to prepare and maintain amazing projects to my customers. I will formulate the best results that will surpass even your given requirements. Let us bring your ideas to life</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Built for the Responsive Web</h2>
                        <P>I work to build quality sites with top notch designs using new sophisticated web technologies. My sustainable solutions combined with the latest piece of technologies will create designs tailored to your specifications.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag "home/image2.png" ,:class=>"img-responsive" %>
                    </div>
                </div>
                <!--<div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <%= image_tag "home/image3.png" ,:class=>"img-responsive" %>
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><%= image_tag "home/clients.png" ,:class=>"img-responsive" %></p>
                        <h1 class="title">Happy Clients</h1>
                        <p>I'm on a Mission to make my clients happy ;) </p>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->
