<!DOCTYPE html>
<html>
<head>
  <title>Traingle</title>
  <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pages', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "shared/header" %>
	<%= yield %>
	<%= render "shared/footer" %>
</body>
</html>
